#songList {
  font-family: "Arial", serif;
  font-size: 15px;
  color: white;
}

#discord {
  z-index: -5;
  width: 270px;
  float: right;
  padding-right: 15px;
}

#links {
  color: #BDC3C7;
  font-family: "Arial", serif;
  font-size: 10px;
}

#names {
  font-family: "Arial", serif;
  font-size: 15px;
  color: white;
}

#seperator {
  color: white;
  width: 100%;
  font-size: 8.7px;
}

#length {
  font-size: 14px;
}

h2 {
  font-family: "Arial", serif;
  font-size: 22px;
  color: white;
}

body {
  background-color: #141414;
}

/*NAVIGATION BAR*/

ul {
  font-family: "Arial", serif;
  color: white;
  list-style-type: none;
  margin-top: 0px;
  padding: 0;
  overflow: hidden;
  background-color: #0d0d0d;

  text-align: center;
  font-weight: bold;
  font-size: small;
}

li{
  display: inline;
}

li a {
  color: white;
  font-weight: bold;

  display: block;
  background-color: #0d0d0d;
  text-align: center;
  text-decoration: none;
}

#index, #contact, #about, #misc, #decoration {
  padding-left: 15px;
  padding-right: 5px;
}

a {
  color: white;
  text-decoration: none;
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
  margin-top: -3em;
}

.footer {
  background-color: #0d0d0d;
  box-shadow: 0px 0px 10px 1px black;

  color: white;
  font-size: small;
  font-weight: lighter;
  font-family: "Arial", serif;
  text-align: center;
}
